body {
    display: flex;
    align-items: center;
    flex-flow: column;
    background-image: url(../static/space-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
}

.mario {
    height: 50px;
    position: absolute;
}

.container {
    top: 100px;
    background-color: cornflowerblue;
    position: fixed;
    width: 810px;
    height: 600px;
    margin: 0;
    overflow: hidden;
}

.ground {
    border-radius: 0;
}

.crt::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 3000px;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    z-index: 2;
    background-size: 100% 3px, 4px 100%;
    pointer-events: none;
}

.crt::after {
    content: " ";
    display: block;
    position: fixed;
    background-image: url(../static/tv-overlay.png);
    z-index: 3;
    width: 913px;
    height: 647px;
    top: 93px;
    overflow: visible;
    transform: translateX(-5px);
}

.title {
    color: #533131;
    font-family: "DejaVu Sans Condensed";
    text-shadow: white 4px 2px 7px;
    text-decoration-color: aquamarine;
    text-decoration-style: wavy;
}
