body {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background: black url(../static/space-background.jpg) no-repeat;
}

.tv-container {
    position: relative;
    animation: ease come-from-outer-space 5s;
}

.crt {
    left: 50px;
    background-color: black;
    position: relative;
    top: 83px;
    width: 810px;
    height: 600px;
    margin: 0;
    overflow: hidden;
    box-shadow: royalblue 119px 16px 163px;
}

.crt::after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 3000px;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    z-index: 2;
    background-size: 100% 3px, 4px 100%;
    pointer-events: none;
    animation: flicker 0.15s infinite;
}

.tv {
    display: flex;
    position: absolute;
    background-image: url(../static/tv-overlay.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 3;
    width: 1150px;
    height: 810px;
    /*top: 92px;*/
    overflow: visible;
    /*transform: scale(1.26);*/
    /*left: 131px;*/
}


@keyframes flicker {

    50% {
        opacity: 0.5407184763;
    }

    100% {
        opacity: 0.8429888213;
    }
}

@keyframes come-from-outer-space {
    0% {
        transform: translate(-80%, -20%) scale(0) rotate(0);
    }
    /*50% {*/
        /*transform: translate(-100%, 0%) scale(0) rotate(0);*/
    /*}*/

    100% {
        transform: translate(0, 0) scale(1) rotate(0);
    }
}
